.shape {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	width: 2em;
	border-radius: 99999em;
	background-color: #ccc;
}

.shape input {
	display: none;
}


.flipa, .flipz {
	animation: flip 250ms linear;
}

@keyframes flip {
	0% {
		scale: 100%;
	}
	50% {
		scale: 120%;
	}
	100% {
		scale: 100%;
	}
}