.grid {
	box-sizing: border-box;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid > :first-child {
	justify-content: left;
}

.grid > :nth-child(2) {
	text-align: center;
}

.grid > :last-child {
	text-align: right;
	margin: 0 var(--gap) 1px;
}

.grid > :last-child span {
	padding: 0 var(--gap);
}
