:root {
  font-size: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap: 0.25em;
  --radius: 0.25em;

  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
  --rgb-body: var(--rgb-white);
  --rgb-text: var(--rgb-black);

  --body: rgba(var(--rgb-body), 1);
  --text: rgba(var(--rgb-text), 1);
  --x: var(--text);
}

:root.dark {
  --rgb-body: var(--rgb-black);
  --rgb-text: var(--rgb-white);
}

@media (prefers-color-scheme: dark) {
	:root.auto, :root.dark {
    --rgb-body: var(--rgb-black);
    --rgb-text: var(--rgb-white);
	}
}

@media (max-height: 300px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 600px) and (min-height: 420px) {
  :root {
    font-size: 24px;
  }
}

body, #root {
  height: 100%;
  touch-action: none;
}

body {
  color: var(--text);
  background-color: var(--body);
  margin: 0 var(--gap);
}

#root {
  display: grid;
  justify-content: center;
}

h4 {
  font-size: 75%;
  font-weight: normal;
  margin: 0;
}

.full-screen {
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

.flex-wrap {
  flex-wrap: wrap;
}

.xl-gap {
  gap: 1em;
}

.dash {
	border-radius: 4px;
	outline: 2px dashed var(--text);
}

.action {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: dotted;
}

img {
  max-width: 60vw;
  max-height: 45vh;
}
