:root {
  font-size: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap: 0.25em;
  --radius: 0.25em;
  --x: black;

  --text: black;
  --body: white;
}

body, #root {
  height: 100%;
  touch-action: none;
}

body {
  margin: 0 var(--gap);

  /* color: blue; */
}

h4 {
  font-size: 75%;
  font-weight: normal;
  margin: 0;
}

.full-screen {
  height: 100vh;
  height: -webkit-fill-available;
}

.flex-wrap {
  flex-wrap: wrap;
}

.xl-gap {
  gap: 1em;
}
